<div class="row">
  <div class="col-sm-12">
    <app-card cardTitle="REGISTRO EVENTO" [options]="false">
      <h5>REGISTRO EVENTO</h5>
      <hr>
      <div class="row">
        <div class="col-md-6">
          <form action="javascript:">
            <div class="form-group">
                <label>Fecha Inicio</label>
                <input type="date" class="form-control" placeholder="Fecha Inicio">
                <br/>
                <label>Fecha Fin</label>
                <input type="date" class="form-control" placeholder="Fecha Fin">
                <br/>
                <label>Lugar</label>
                <input type="text" class="form-control" placeholder="Lugar">
                <br/>
                <label>Descripcion</label>
                <input type="text" class="form-control" placeholder="Descripcion">
            </div>          
            <button type="submit" class="btn btn-primary">Registrar</button>
          </form>
        </div>
        <div class="col-md-6">
          <form action="javascript:">
            <div class="form-group">
              <label>Aproximado</label>
              <input type="number" class="form-control" placeholder="Aproximado">
              <br/>
             
            </div>
          </form>
        </div>
      </div>
    </app-card>
  </div>
</div>
